@import url(https://app.unpkg.com/reset-css@5.0.1/files/reset.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;

    /* border: 0.5px solid black; */
}

:root {
    --main-color: #D10049;
    --secondary-color: #F0CEDA;
    --pading-buscador: 0.5em;
    --font-color: #373435;
}

/* HEADER */

header {
    position: static;
    width: 100%;
    background-color: var(--secondary-color);
    font-family: "Archivo Black", sans-serif;
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.btn-search {
    cursor: pointer;
    width: 5em;
    height: 2em;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-right: 0.3em;
    border-radius: 6em;
}

.fas {
    color: var(--secondary-color);
}

.buscador {
    display: flex;
    background-color: white;
    width: min(20em, 100%);
    height: 1.5em;
    display: flex;
    align-items: center;
    margin: auto;
    padding: var(--pading-buscador);
    border-radius: 6em;
    align-items: center;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}

.btn-search {
    cursor: pointer;
    width: 5em;
    height: 2em;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-right: 0.3em;
    border-radius: 6em;
}

.fas {
    color: #F0CEDA;
}

.buscador {
    display: flex;
    background-color: white;
    width: min(20em, 100%);
    height: 1.5em;
    display: flex;
    align-items: center;
    margin: auto;
    padding: var(--pading-buscador);
    border-radius: 6em;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.buscador-lbl {
    display: none;
}

.buscador-input {
    width: 40em;
<<<<<<< HEAD
    font-size: 1rem;
=======
    font-size: 16px;
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    font-family: "Roboto", sans-serif;
    margin-left: var(--pading-buscador);
    outline: none;
    border: none;
    background: transparent;
}

.carrito {
<<<<<<< HEAD
    display: flex;
    margin: auto;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}


=======
    display: grid;
    margin: 1em;
    color: var(--font-color);
    text-decoration: none;
    font-size: 12px;
    font-family: "Archivo Black", sans-serif;
    justify-content: center;
}

>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
.logo svg {
    display: grid;
    justify-content: center;
    cursor: pointer;
    width: min(100%);
    height: min(100%);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav-bar {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-bar ul {
<<<<<<< HEAD
    display: flex;
    height: 100%;;
=======
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    list-style: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
<<<<<<< HEAD
    padding: 0.5rem 2.5rem;
=======
    padding: 5px 25px;
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    display: block;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

.nav-bar a,
a:hover {
    transition: all 0.3s ease 0s;
}

.nav-bar a:hover {
    background-color: #910836;
}

.nav-bar li {
    float: left;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hamburger-icon {
    display: none;
    background-color: var(--main-color);
    color: var(--secondary-color);
    justify-content: center;
    width: 100%;
    font-size: 32px;
    border: none;
}


.nav-bar-mobile {
    display: none;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-bar-mobile ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    list-style: none;
}

.nav-bar-mobile a {
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

/* BODY */

.breadcrumb {
    padding: min(2em, 8%);
    font-family: "Roboto", sans-serif;
    color: darkgray;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item:first-child {
    content: ' > ';
}

.breadcrumb-item:not(:last-of-type)::after {
    content: ' > ';
    margin: 0 5px;
}

.breadcrumb-link {
    color: darkgray;
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.breadcrumb-item:last-child {
    color: rgb(5, 92, 92);
    font-weight: bold;
    text-decoration: underline;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin: min(10px, 1fr);
    font-family: "Archivo Black", sans-serif;
    color: var(--font-color);
}

.cont-libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* libros más angostos */
    gap: 10px;
    /* menos separación entre ellos */
    padding: 10px 5%;

}

.libro-portada {
    margin: 0;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.libro-portada img {
    width: 100%;
    height: auto;
    object-fit: cover;
<<<<<<< HEAD
    max-height: 15rem;
    transition: zoomPortada 10s ease;
    
}

.libro-portada:hover{
        transform: scale(1.1);
=======
    max-height: 240px;
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
}

/* FOOTER */

footer {
    background-color: var(--main-color);
    display: grid;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    grid-template-columns: auto auto;
}

footer small {
    grid-column: 1 / -1;
<<<<<<< HEAD
    
=======
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    text-align: center;
    padding: 10px 0;
    background-color: white;
    color: grey;
}

h4 {
    padding: 2px 5%;
    margin: 0.5em;
    color: var(--secondary-color);
    font-family: "Archivo Black", sans-serif;
}

.nav-redes {
<<<<<<< HEAD
    display: block;
=======
    display: inline-block;
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    justify-items: center;
}

.redes-sociales {
<<<<<<< HEAD
    display: flex;
    list-style: none;
    justify-items: normal;
=======
    list-style: none;
    justify-items: center;
>>>>>>> de9ae200c0b610951d00aa88030ed72101f61e95
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em 5%;
    width: 100%;
}

.faq {
    display: inline-block;
    text-decoration: none;
    margin: 0.5em;
    padding: 2px 5%;
    width: 100%;
    list-style: none;
}

.redes-sociales li>a {
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em 5%;
    color: var(--secondary-color);
}

.nav-faq {
    justify-items: center;
}

.faq li>a {
    text-decoration: none;
    margin: 0.5em;
    padding: 2px 5%;
    color: var(--secondary-color);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
    .nav-bar {
        display: none;
    }
    
    .hamburger-icon {
        display: flex;
        justify-content: center;
    }
}