#historialBusquedas {
    position: absolute;
    top: 100%;
    /* Aparece debajo del buscador */
    left: 0;
    right: 0;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}

#historialBusquedas li {
    padding: 0.5em;
    cursor: pointer;
    font-size: 15px;
    color: gray;
}

#historialBusquedas li:hover {
    background-color: #f0f0f0;
}

#historialBusquedas.oculto {
    display: none;
}

/* Contenedor buscador en posición relativa para que el dropdown sea absoluto dentro */
form.buscador {
    position: relative;
}