/* ===== Menú General (Desktop) ===== */
.PAW-Menu {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr auto;
    background-color: var(--main-color);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Lista horizontal en desktop */
.PAW-Menu ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.PAW-Menu ul li {
    padding: auto;
    color: white;
    text-align: center;
    cursor: pointer;
}

.PAW-Menu a {
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    height: 2.5em;
    margin: auto;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

.PAW-Menu ul li a,
a:hover {
    transition: all 0.3s ease 0s;
}

.PAW-Menu a:hover {
    background-color: var(--main-color-shadow);
}

/* Ambos estados de botón ocultos en desktop */
.PAW-MenuAbrir,
.PAW-MenuCerrar {
    display: none;
}

/* ============================= */
/*         MEDIA QUERY           */
/* ============================= */
@media (max-width: 768px) {
    .PAW-Menu {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        transition: max-height 0.5s ease-in-out;
    }

    .PAW-Menu ul {
        display: none;
    }

    .PAW-MenuAbrir,
    .PAW-MenuCerrar {
        display: block;
    }

    /* Funcionalidad Botón Hamburguesa */
    .PAW-Menu button {
        float: right;
        border: 0;
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        overflow: hidden;
        justify-items: center;
    }

    .PAW-Menu button::before,
    .PAW-Menu button::after {
        display: block;
        position: absolute;
        content: " ";
        width: 2rem;
        height: 0.2rem;
        background-color: white;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 0.2rem;
    }

    .PAW-Menu button.PAW-MenuAbrir::before {
        transform: translateY(-1rem) rotate(0);
        box-shadow: 0 0.6rem 0 white;
    }

    .PAW-Menu button.PAW-MenuAbrir::after {
        transform: translateY(0.2rem) rotate(0);
    }

    .PAW-Menu button.PAW-MenuCerrar::before {
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0.6rem 0 transparent;
    }

    .PAW-Menu button.PAW-MenuCerrar::after {
        transform: translateY(0) rotate(-45deg);
    }

    .PAW-Menu.PAW-MenuAbierto ul {
        display: inline-block;
    }

    .PAW-Menu.PAW-MenuAbierto {
        height: 25rem;
        transition-duration: 1s;
        transition-property: width;
    }

    .PAW-Menu.PAW-MenuAbierto ul {
        opacity: 1;
        transition: 1s all;
    }
}