    <footer>
        <!-- REDES SOCIALES -->
        <nav>
            <h4>Contactenos</h4>
            <ul class="redes-sociales">
                <li>
                    <a href="https://www.facebook.com/pawprints" target="_blank">
                        <img src="./images/facebook-logo.png" alt="Facebook" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/pawprints" target="_blank">
                        <img src="./images/instagram-icon.png" alt="Instagram" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href="https://x.com/pawprints" target="_blank">
                        <img src="./images/x-icon.png" alt="Twitter" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href="mailto:pawprints@gmail.com">                        
                        <img src="./images/mail.png" alt="Twitter" width="24" height="18">
                        pawprints@gmail.com
                    </a>
                </li>
                <li>
                    <a href="tel:2346123456">
                        <img src="./images/phone.png" alt="Teléfono sonando" width="24" height="24">
                        +542346123456
                    </a>
                </li>
            </ul>
        </nav>

        <!-- F.A.Q -->

        <nav>
            <h4>F.A.Q</h4>
            <ul>
                <li>
                    <a href="../quienes-somos.html">¿Quíenes somos?</a>
                </li>
                <li>
                    <a href="../como-comprar.html">¿Cómo comprar?</a>
                </li>
                <li>
                    <a href="../locales.html">Locales</a>
                </li>
            </ul>
        </nav>
        <small>© 2024-2025 PAW Prints S.A.</small>
    </footer>