{% set htmlClass = htmlClass ?? 'index' %}

{% include 'parts/head.twig' %}

<body class="{{ htmlClass|e }}">
    {% include 'parts/header.twig' %}

    <main>
        <!-- BREADCRUMB -->
        <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <span itemprop="name">Error Interno</span>
                <meta itemprop="position" content="1" />
            </li>
        </ul>

        <h1 class="error-titulo">Error Interno del Servidor</h1>
        <a href="/" class="boton-volver">Volver al inicio</a>
    </main>

    {% include 'parts/footer.twig' %}
</body>
</html>
