{# parts/head.php #}
{% include 'parts/head.twig' %}
<body class="{{htmlClass|e}}">
    {% include 'parts/header.twig' %}
    <main>
        <!-- BREADCRUMB -->
        <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="breadcrumb-link" href="../" itemprop="item">
                    <span itemprop="name">Home</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="breadcrumb-link" href="./catalogo" itemprop="item">
                    <span itemprop="name">Catálogo</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="breadcrumb-item" aria-current="page" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <span itemprop="name">Novedades</span>
                <meta itemprop="position" content="3" />
            </li>
        </ul>
        <h2 class="subtitulo">Novedades</h2>
        <section class="cont-libros" itemscope itemtype="https://schema.org/ItemList">
            {% include 'parts/mostrarLibros.twig' %}
        </section>
    </main>
    {% include 'parts/footer.twig' %}
</body>

</html>