<footer itemscope itemtype="https://schema.org/Organization">
    <!-- REDES SOCIALES -->
    <nav class="nav-redes">
        <h4>Contáctenos</h4>
        <ul class="redes-sociales">
            <li>
                <a class="facebook" href="https://www.facebook.com/pawprints" target="_blank" itemprop="sameAs">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a class="instagram" href="https://www.instagram.com/pawprints" target="_blank" itemprop="sameAs">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a class="x" href="https://x.com/pawprints" target="_blank" itemprop="sameAs">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </li>
            <li>
                <a class="mail" href="mailto:pawprints@gmail.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </li>
            <li>
                <a class="phone" href="tel:2346123456" itemprop="telephone">
                    <i class="fa-solid fa-phone"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- F.A.Q -->
    <nav class="nav-faq">
        <h4>F.A.Q</h4>
        <ul class="faq">
            <li><a href="/quienes-somos">¿Quiénes somos?</a></li>
            <li><a href="/como-comprar">¿Cómo comprar?</a></li>
            <li><a href="/locales">Locales</a></li>
        </ul>
    </nav>

    <meta itemprop="name" content="PAW Prints S.A.">
    <meta itemprop="email" content="pawprints@gmail.com">
    <meta itemprop="url" content="https://pawprints">

    <small>© 2024-2025 PAW Prints S.A.</small>
</footer>
